.page {
  padding: 40px;
  text-align: center;
}

.menu-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 20px;
  padding: 20px;
}


.auth-form {
  display: flex;
  flex-direction: column;
  width: 300px;
  margin: 30px auto;
  gap: 10px;
}

.auth-form input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.auth-form button {
  background-color: #ff9800;
  border: none;
  padding: 10px;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.auth-form button:hover {
  background-color: #e68900;
}
